
@{
    ViewBag.Title = "EntrenamientoModificado";
    Layout = "~/Views/Shared/_LayoutEntrenador.cshtml";
}

<p>
    El entrenamiento ha sido modificado de manera exitosa
</p>
@Html.ActionLink("Volver", "index", "Entrenador", null, new { @class = "btn btn-dark" })

