
@{
    ViewBag.Title = "NuevoEjercicio";
    Layout = "~/Views/Shared/_LayoutEntrenador.cshtml";
}

<p>
    El ejercicio ha sido creado de manera exitosa
</p>
@Html.ActionLink("Volver", "reLogin", "login", null, new { @class = "btn btn-dark" })


