
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="btn-group fixed-bottom" role="group" style="position:fixed">
    <button type="button" class="btn btn-secondary">Mis entrenamientos</button>
    <button type="button" class="btn btn-secondary">Gimnasios cercanos</button>
    <a href="~/AlumnoDatos" class="btn btn-secondary">Mis datos</a>
</div>

