@{
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Gimnasios cercanos</h2>

<iframe style="border: 0;" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAAyyUx9zFwY76PRG80r4qTjtH4UffsRY0&q=gimnasio"
        width="43%" height="150%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>