
@{
    ViewBag.Title = "NuevaRutina";
    Layout = "~/Views/Shared/_LayoutEntrenador.cshtml";
}

<p>
    La rutina ha sido creado de manera exitosa
</p>
@Html.ActionLink("Volver", "reLogin", "login", null, new { @class = "btn btn-dark" })
